<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Richard Andrew Rolfes">
        <!-- <meta name="description" content="description here">
        <meta name="keywords" content="keywords,here">
        
        <link rel="shortcut icon" href="~/images/favicon.ico" type="image/vnd.microsoft.icon"> -->

        <title>project seabass</title>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="home-link" asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                        <img id="fish-pic" src="~/images/fishy.png"></img> 
                        | project seabass |
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav login-link">
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <footer>
            <p>&copy; 2017 - project seabass</p>
        </footer>
        </div>
    </body>
</html>
