body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (min-width: 767px) {
    #fish-pic {
        width: 50px !important;
    }
}

#fish-pic {
    position: relative;
    width: 30px;
    display: inline;
    transition: all .2s;
    transition-timing-function: linear;
}

#fish-pic:hover, .h-swimming {
    transform: translateX(5px);
}

.login-link {
    float: right;
}